/* elements */
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 15px;
}

input,
label {
  display: block !important;
}

/* ids */
#cityDisplay {
  border: rgb(172, 169, 169) solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#forecast {
  border: rgb(172, 169, 169) solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#forecastTitle {
  display: block;
}

#forecastArea {
  display: flex;
}

/* classes */
.hide {
  display: none;
}
.cityBtn {
  display: block;
  width: 100%;
}

.forecastBox {
  height: 7rem;
  width: 7rem;
  background-color: rgb(13, 98, 255);
  margin: 5px 8px;
  color: white;
  border-radius: 5px;
}
